<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Inclusive Access</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'vue' %>

  <meta name="user-logged-in" content="<%= user_signed_in? %>">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css" integrity="sha256-mM6GZq066j2vkC2ojeFbLCcjVzpsrzyMVUnRnEQ5lGw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/solid.min.css" integrity="sha256-APTxfVyJgjHUS35EeuRpYs2tAbIQO7UF0nAV6krdYJ0=" crossorigin="anonymous" />
</head>

<body>
<%# Navigation Bar %>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Inclusive Access</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">A Link</a>-->
<!--          <a class="dropdown-item" href="#">Another Link</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">And Another</a>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
    <ul class="navbar-nav">
      <%# If user, show account, else sign in %>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            Account
          </a>
          <%# Change to rails "link_to" for the actual links when implementing %>
          <%# Make sure to include the css class as shown in the login example %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%# The rails administration panel link %>
            <% if Rails.env.development? %>
              <%= link_to 'Rails Admin', rails_admin_path, target: "_blank", ref: "noopener", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
            <% end %>
            <%# Devise requires that the logout command be sent using the 'delete' HTTP verb (method) %>
            <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= button_to "Login", new_user_session_path, class: "btn btn-outline-light" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<%= yield %>

<%= javascript_pack_tag 'application' %>
<%= javascript_pack_tag 'vue' %>
</body>
</html>
